<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default" ng-controller="AddAgentPaymentCtrl as vm">
            <div class="panel-heading">
                {{vm.title}}
            </div>
            <div class="panel-body">
                <form>
                    <div class="form-group">
                        <label>Agent</label>
                        <select class="form-control" ng-model="vm.aPayment.agent_id" ng-options="option.id as option.customId + '-' + option.name for option in vm.agents"></select>
                    </div>
                    <div class="form-group">
                        <label>Payment Amount <small>(in CHF)</small></label>
                        <input ng-model="vm.aPayment.drAmount" type="text" class="form-control" placeholder="Payment Amount" step="any">
                    </div>
                    <button ng-click="vm.addAgentPayment()" class="btn btn-primary pull-right">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
