<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default" ng-controller="AddOrderCtrl as vm">
            <toast></toast>
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-8">
                        {{vm.title}}
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup ng-model="vm.order.orderDate" is-open="vm.order.datePopup.opened"
                            datepicker-options="vm.order.dateOptions" ng-required="true" close-text="Close" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="vm.order.dateOpen()">
                                <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <form>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>Agent</label>
                            <select class="form-control" ng-model="vm.order.agent_id" ng-options="option.id as option.customId + '-' + option.name for option in vm.agents"></select>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Receiving Agent</label>
                            <select class="form-control" ng-model="vm.order.receiving_agent_id" ng-options="option.id as option.customId + '-' + option.name for option in vm.receivingAgents"></select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label> Order Currency</label>
                                    <select class="form-control" ng-model="vm.order.order_curr_id" ng-options="option.id as option.code for option in vm.currencies"></select>
                                </div>
                                <div class="form-group col-md-8">
                                    <label>Amount</label>
                                    <input ng-model="vm.order.orderAmount" type="number" class="form-control" placeholder="Amount" step="any">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="form-group  col-md-4">
                                    <label> Supply Currency</label>
                                    <select class="form-control" ng-model="vm.order.supply_curr_id" ng-options="option.id as option.code for option in vm.currencies"></select>
                                </div>
                                <div class="form-group col-md-8">
                                    <label>Exchange Rate</label>
                                    <input ng-model="vm.order.exchangeRate" type="number" class="form-control" placeholder="Exchange Rate" step="any">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6 col-md-offset-3">
                            <label>Total Amount</label>
                            <div class="input-group">
                                <input value="{{(vm.order.orderAmount * vm.order.exchangeRate) | number}}" type="text" class="form-control" placeholder="Total Amount" disabled>
                                <!--<input ng-model="vm.order.totalAmount" value="{{(vm.order.orderAmount * vm.order.exchangeRate) | number}}" type="number" class="form-control" placeholder="Total Amount" step="any" disabled>-->
                                <div class="input-group-addon">&nbsp</div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <i><b>Recipient Details</b></i>
                    <hr>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label>Receiver Name</label>
                            <input ng-model="vm.order.name" type="text" class="form-control" placeholder="Receiver Name">
                        </div>
                        <div class="form-group col-md-4">
                            <label>Contact Number</label>
                            <input ng-model="vm.order.contact" type="text" class="form-control" placeholder="Contact Number">
                        </div>
                        <div class="form-group col-md-4">
                            <label>Country</label>
                            <select class="form-control" ng-model="vm.order.country_id">
                                <option ng-repeat="country in vm.countries" ng-value="country.id">{{country.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label>Bank</label>
                            <input ng-model="vm.order.bankName" type="text" class="form-control" placeholder="Bank">
                        </div>
                        <div class="form-group col-md-4">
                            <label>Branch</label>
                            <input ng-model="vm.order.branchName" type="text" class="form-control" placeholder="Branch">
                        </div>
                        <div class="form-group col-md-4">
                            <label>Account Number</label>
                            <input ng-model="vm.order.bankAcNo" type="text" class="form-control" placeholder="Account Number">
                        </div>
                    </div>
                    <button ng-click="vm.addOrder()" class="btn btn-primary pull-right">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>