<style>
    .alert-dismissible{
        margin-right: 250px;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="panel" ng-controller="agentListCtrl as vm">
            <toast></toast>
            <button type="button" class="btn btn-success" ng-click="vm.addNewAgent()">Create Agent</button>
            </br></br>
            <table ng-table="vm.tableParams" class="table table-bordered table-striped" show-filter="true">
                <colgroup>
                    <col width="15%" />
                    <col width="35%" />
                    <col width="25%" />
                    <col width="15%" />
                    <col width="10%" />
                </colgroup>
                <tr ng-repeat="agent in $data">
                    <td title="'Agent Number'" filter="{ customId: 'text'}">
                        <!--{{agent.customId}}-->
                        <span ng-bind="agent.customId"></span>
                    </td>
                    <td title="'Agent Name'" filter="{ name: 'text'}">
                        {{agent.name}}
                    </td>
                    <td title="'Contact Number'">
                        {{agent.contact}}
                    </td>
                    <td title="'Country'">
                        {{agent.country.name}}
                    </td>
                    <td>
                        <button class="btn btn-default btn-sm" ng-click="vm.edit(agent.id)"><span class="glyphicon glyphicon-pencil"></span></button>
                        <button class="btn btn-danger btn-sm" ng-click="vm.delete(agent.id)"><span class="glyphicon glyphicon-trash"></span></button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>