<style>
    .alert-dismissible{
        margin-right: 280px;
    }
</style>
<toast></toast>
<div class="row">

    <div class="col-md-12">
        <div class="panel" ng-controller="orderListCtrl as vm">

            <button type="button" class="btn btn-success" ng-click="vm.addNewAgent()">Create order</button>
            </br>
            </br>
            <table ng-table="vm.tableParams" class="table table-bordered table-striped" show-filter="false">

                <colgroup>
                    <col width="5%" />
                    <col width="10%" />
                    <col width="5%" />
                    <col width="5%" />
                    <col width="10%" />
                    <col width="10%" />
                    <col width="10%" />
                    <col width="10%" />
                    <col width="5%" />
                    <col width="10%" />
                    <col width="10%" />
                    <col width="10%" />
                </colgroup>
                <tr ng-repeat="order in $data">
                    <td title="'Order Number'" filter="{ customId: 'text'}">
                        {{order.customId}}
                    </td>
                    <td title="'Order Date'" filter="{ orderDate: 'text'}">
                        {{order.orderDate | date: 'yyyy-MM-dd'}}
                    </td>
                    <td title="'Agent Number'">
                        {{order.agent.customId}}
                    </td>
                    <td title="'Receiving Agent Number'">
                        {{order.receiving_agent.customId}}
                    </td>
                    <td title="'Recipiant Name'">
                        {{order.receiver.name}}
                    </td>
                    <td title="'Recipiant Contact'">
                        {{order.receiver.contact}}
                    </td>
                    <td title="'Recipiant Bank'">
                        {{order.receiver.bankName}}
                    </td>
                    <td title="'Account Number'">
                        {{order.receiver.bankAcNo}}
                    </td>
                    <td title="'Amount'" filter="{ orderAmount: 'text'}">
                        {{order.orderAmount | number}}
                    </td>
                    <!--<td title="'Ordered Currency'">-->
                        <!--{{order.order_currency.code}}-->
                    <!--</td>-->
                    <td title="'Exchange Rate'" filter="{ exchangeRate: 'text'}">
                        {{order.order_currency.code}} {{order.exchangeRate | number}}
                    </td>
                    <!--<td title="'Supply Currency'">-->
                        <!--{{order.supply_currency.code}}-->
                    <!--</td>-->
                    <td title="'Supply Amount'">
                        {{order.supply_currency.code}} {{order.orderAmount * order.exchangeRate | number}}
                    </td>
                    <td>
                        <button class="btn btn-default btn-sm" ng-click="vm.edit(order.id)"><span class="glyphicon glyphicon-pencil"></span></button>
                        <button class="btn btn-danger btn-sm" ng-click="vm.delete(order.id)"><span class="glyphicon glyphicon-trash"></span></button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>