<style>
    .alert-dismissible{
        margin-right: 280px;
    }
</style>
<toast></toast>
<div class="row">
    <div class="col-md-12">
        <div class="panel" ng-controller="orderListCtrl as vm">
            <button id="btn" type="button" class="btn btn-success" ng-click="vm.addNewAgent()">Create order</button>
            </br></br>
            <table ng-table="vm.tableParams" class="table table-bordered table-striped" show-filter="false">
                <thead>
                <tr>
                    <th width="5%">Order Number</th>
                    <th width="10%">Order Date</th>
                    <th width="5%">Agent Number</th>
                    <th width="5%">Receiving Agent Number</th>
                    <th width="10%">Recipient Name</th>
                    <th width="10%">Recipient Contact Number</th>
                    <th width="10%">Recipient Bank</th>
                    <th width="10%">Recipient Account Number</th>
                    <th width="5%">Amount</th>
                    <th width="10%">Exchange Rate</th>
                    <th width="10%">Supply Amount</th>
                    <th width="10%" id="thActn"></th>
                </tr>
                </thead>
                <tr ng-repeat="order in $data">
                    <td filter="{ customId: 'text'}">
                        {{order.customId}}
                    </td>
                    <td filter="{ orderDate: 'text'}">
                        {{order.orderDate | date: 'yyyy-MM-dd'}}
                    </td>
                    <td>
                        {{order.agent.customId}}
                    </td>
                    <td>
                        {{order.receiving_agent.customId}}
                    </td>
                    <td>
                        {{order.receiver.name}}
                    </td>
                    <td>
                        {{order.receiver.contact}}
                    </td>
                    <td>
                        {{order.receiver.bankName}}
                    </td>
                    <td>
                        {{order.receiver.bankAcNo}}
                    </td>
                    <td filter="{ orderAmount: 'text'}">
                        {{order.orderAmount | number}}
                    </td>
                    <td filter="{ exchangeRate: 'text'}">
                        {{order.order_currency.code}} {{order.exchangeRate | number}}
                    </td>
                    <td>
                        {{order.supply_currency.code}} {{order.orderAmount * order.exchangeRate | number}}
                    </td>
                    <td id="tdActn">
                        <button class="btn btn-default btn-sm" ng-click="vm.edit(order.id)"><span class="glyphicon glyphicon-pencil"></span></button>
                        <button class="btn btn-danger btn-sm" ng-click="vm.delete(order.id)"><span class="glyphicon glyphicon-trash"></span></button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>