<div class="row">
    <div class="col-md-12">
        <div class="panel" ng-controller="receivingAgentListCtrl as vm">
            <toast></toast>
			<button type="button" class="btn btn-success" ng-click="vm.addReceivingAgent()">Create Receiving Agent</button>
            
            </br></br>
            <table ng-table="vm.tableParams" class="table table-bordered table-striped" show-filter="true">
                <colgroup>
                    <col width="15%" />
                    <col width="35%" />
                    <col width="25%" />
                    <col width="15%" />
                    <col width="10%" />
                </colgroup>
                <tr ng-repeat="receivingAgent in $data">
                    <td title="'Receiving Agent Number'" filter="{ customId: 'text'}">
                        {{receivingAgent.customId}}
                    </td>
                    <td title="'Receiving Agent Name'" filter="{ name: 'text'}">
                        {{receivingAgent.name}}
                    </td>
                    <td title="'Contact Number'">
                        {{receivingAgent.contact}}
                    </td>
                    <td title="'Country'">
                        {{receivingAgent.country.name}}
                    </td>
                    <td>
                        <button class="btn btn-default btn-sm" ng-click="vm.edit(receivingAgent.id)"><span class="glyphicon glyphicon-pencil"></span></button>
                        <button class="btn btn-danger btn-sm" ng-click="vm.delete(receivingAgent.id)"><span class="glyphicon glyphicon-trash"></span></button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
